.nfs*
*.ipynb
*.pyc
.dumbo.json
.DS_Store
.*.swp
**/__pycache__/**
.ipynb_checkpoints/
data/coco/
data/obj365/
experiment-*
*.tmp
*.pkl
**/.mypy_cache/*
.mypy_cache/*
not_tracked_dir/
.vscode
output/*/*.pth
output/*/eval/
imgs/
figs/
plot*.py
*.onnx
*.engine
vis/
log/
output/
deployment/
start.md
weight/
tb/
tb0902/
saved_filtered_view/
saved_predictions_view/
code/
*.zip
*.jpg
*.ttf
vis.py
start.sh
D-FINE/
all_plot.py
.history